:root{
  --red:#ec2222;
  --black:#000;
  --white:#fff;
}

body{
  font-family: Helvetica, Arial, sans-serif;
  background: var(--white);
  color: var(--black);
}

h1, h2 {
  margin: 0;
  line-height: 1.1; /* 見出しは詰め気味が映える */
}


/* ===== HERO ===== */
.hero{
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto; /* header / logo / arrow */
}

.header{
  top: 0;
  z-index: 10;
  background: rgba(255,255,255,0.9);
  backdrop-filter: blur(6px);
  height: 56px;
  position: relative; /* ← これ重要 */
}

.nav{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-links{
  display: flex;
  gap: 50px;
  list-style: none;
}

.nav-links a{
  color: var(--red);
  text-decoration: none;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: .12em;
  text-align: center;
}

.social-links{
  position: absolute;
  right: 16px;
  display: flex;
  gap: 30px;
  list-style: none;
}

.social-links a{
  color: var(--red);
  text-decoration: none;
  font-size: 20px;
  text-align: center;}

.hero-image img{
  width: 200px;
  max-width: 70vw;
  height: auto;
}

.hero-image{
  display: flex;
  justify-content: center;
  align-items: center;
}

.comingsoon-logo{
  width: 120px;
  opacity: 0.9;
  color: var(--black);
}

/* ===== CONTENT ===== */

.comingsoon{
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.comingsoon-container {
  background-color: var(--red);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.comingsoon-container h1 {
  color: var(--black);
  font-size: 54px;
  margin-top: 10px;
}

.comingsoon-container h2 {
  color: var(--black);
  font-size: 70px;
  margin-top:150px;
}

.comingsoon-text {
  color: var(--black);
  font-size: 18px;
  font-weight: 400;
  padding: 0 0 20 0;
  line-height: 2;
}